/* Image 영역 */

#Image {
    width: 100vw;
    height: 100vh;
}

#Image .image-content {
    width: 100%;
    height: calc(100% - 44px);
    border-radius: 0 0 12px 12px;
    overflow: hidden;
    display: flex;
}

#Image .image-content .image-left {
    width: 300px;
    height: 100%;
    background-color: #dadada;
    border-right: 2px solid #E6E7E8;
}

#Image .image-content .image-left>span {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
}

#Image .image-content .image-left .image-left-btn-box {
    display: flex;
    width: 100%;
    height: 40px;
    padding-left: 30px;
    line-height: 40px;
    align-items: center;
}

#Image .image-content .image-left .image-left-btn-box .image-left-btn {
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

#Image .image-content .image-right {
    width: calc(100% - 300px);
    height: 100%;
    background-color: #fff;
    border-top: 1px solid #E6E7E8;
}