@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap");
#Log {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}


/* .react-datepicker {
    font-size: 1.3rem !important;
}

.react-datepicker__current-month {
    font-size: 1.5rem !important;
}

.react-datepicker__header {
    padding-top: 6px !important;
}

.react-datepicker__navigation {
    top: 13px !important;
}

.react-datepicker__day-name,
.react-datepicker__day {
    margin: 0.5rem !important;
}

.saturday {
    color: rgb(0, 0, 255) !important;
}

.sunday {
    color: rgb(255, 0, 0) !important;
}

.react-datepicker__day--disabled {
    color: #cccccc !important;
}

.normal-day {
    background: white !important;
    color: black !important;
    width: 28px;
    height: 28px;
    line-height: 1.8;
    text-align: center;
    padding: 2px !important;
}

.selected-day {
    background: navy !important;
    color: white !important;
    border-radius: 50% !important;
    font-weight: 700;
}
*/

#Log .content {
    width: 100%;
    background-color: #fff;
}

#Log .log-content {
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    font-family: "Nanum Pen Script";
    align-items: center;
    align-content: center;
}


/* Calendar Section */

.log-section {
    background-color: #fff;
    width: 50%;
    height: 100%;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: #C0C3E6;
    border-radius: 50%;
    display: flex;
    margin: 10px auto 0;
}

.log-section-date {
    width: 200px;
    font-size: 18px;
    padding: 5px;
    margin: 2.5px auto;
    letter-spacing: 1.6px;
    font-weight: bold;
}

.react-calendar {
    width: 100%;
    height: calc(100vh - 180px);
    background: white;
    border: 1px solid #a0a096;
    line-height: 4;
    font-family: "Nanum Pen Script";
}

.react-calendar abbr {
    text-decoration: none;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.react-calendar button {
    height: 60px;
    margin: 0;
    border: 0;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
}

.react-calendar__navigation {
    display: flex;
    height: 70px;
    line-height: 70px;
    margin-bottom: 1em;
}

.react-calendar__navigation button {
    width: 50px;
    height: 100%;
    line-height: 70px;
    background: none;
    font-size: 20px;
}

.react-calendar__navigation button:disabled {
    background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 10px;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
    color: #f00;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
    padding: 2em 0.5em;
}

.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 16px;
}

.react-calendar__tile:disabled {
    background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: rgba(192, 195, 230, 0.5);
    border-radius: 50%;
}

.react-calendar__tile--now {
    background: #a1a7e8;
    border-radius: 50%;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #C0C3E6;
}

.react-calendar__tile--hasActive {
    background: lightsteelblue;
    border-radius: 50%;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #a9d4ff;
    border-radius: 50%;
}

.react-calendar__tile--active {
    background: lightsteelblue;
    color: white;
    border-radius: 50%;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: lightsteelblue;
    border-radius: 50%;
}

.react-calendar--selectRange .react-calendar__tile--hover {
    background-color: rgba(192, 195, 230, 0.5);
    border-radius: 50%;
}


/* Diary Section */

#Log .diary-section {
    width: 50%;
    height: calc(100vh - 146px);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: #fff;
    border: 1px solid #a0a096;
    padding: 10px;
    overflow-y: auto;
}


/* 반응형 웹을 도와주는 css 도구 */

@media (min-width: 650px) {
    .App {
        width: 640px;
    }
}


/* 웹 브라우저의 화면이 650px 이하일 경우에 App이라는 컴포넌트는 90%를 차지하게 하겠음 */

@media (max-width: 650px) {
    .App {
        width: 90vw;
    }
}

#Log .LogDiary {
    width: 100%;
    height: 100%;
    display: flex;
}

#Log .LogDiary .log-diary-count {
    height: 100%;
    display: flex;
    align-items: center;
}

#Log .LogDiary .diary-count-num {
    width: 350px;
    font-size: 20px;
    margin: 75px auto 20px;
    letter-spacing: 1.8px;
    text-align: center;
}

#Log .LogDiary .diary-count-num em {
    font-weight: bold;
    color: #a1a7e8;
}

#Log .LogDiary .diary-classify {
    width: 200px;
    line-height: 40px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 16px;
    border: 1px solid #C0C3E6;
    border-radius: 20px;
    padding: 0 10px;
    text-align: center;
    padding: 20px 0;
}

#Log .LogDiary .log-diary-count,
#Log .LogDiary .log-diary-count .diary-classify {
    display: flex;
    flex-direction: column;
}

#Log .LogDiary .LogEditor {
    margin-left: 30px;
}

#Log .LogDiary .LogEditor h2 {
    font-size: 24px;
    text-align: center;
    padding: 20px 0;
    letter-spacing: 1.8px;
}

#Log .LogDiary .LogEditor input {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    border: 2px solid #a1a7e8;
    border-radius: 24px;
    margin: 0 auto;
    padding: 0 20px;
    font-size: 16px;
}

#Log .LogDiary .LogEditor input:focus {
    outline: none;
}

#Log .LogDiary .LogEditor textarea {
    display: block;
    width: 400px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid #a1a7e8;
    border-radius: 16px;
    padding: 10px;
    font-size: 14px;
}

#Log .LogDiary .LogEditor textarea:focus {
    outline: none;
}

#Log .LogDiary .log-editor-submit {
    width: 400px;
    margin: 10px auto;
    justify-content: space-between;
    display: flex;
}

#Log .LogDiary .log-editor-submit select {
    width: 100px;
    height: 30px;
    border: 2px solid #C0C3E6;
    border-radius: 16px;
    text-align: center;
}

#Log .LogDiary .log-editor-submit select:focus {
    outline: none;
    border-color: #a1a7e8;
}

#Log .LogDiary .log-editor-submt-btn button {
    width: 100px;
    height: 30px;
    border: 2px solid #C0C3E6;
    border-radius: 16px;
    text-align: center;
}

#Log .LogDiary .DiaryList .menu_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*  MyButton */

#Log .LogButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    /* 글자가 잘려서 두줄이 되지 않게 하는 속성 */
    white-space: nowrap;
    font-family: "Nanum Pen Script";
}

#Log .LogButton_default {
    background-color: #ececec;
    color: black;
}

#Log .LogButton_positive {
    background-color: #C0C3E6;
}

#Log .LogButton_negative {
    background-color: #ffe4c0;
}


/* Header */

#Log .log-diary-header {
    padding-top: 20px;
    padding-bottom: 20px;
    /* flex 속성을 주게 되면 <div> 가로로 바뀐다 */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
}

#Log .log-diary-header>div {
    display: flex;
}


/* justify-center:center head 텍스트 중앙에 위치 시킨다 */

#Log .log-diary-header .head_text {
    width: 50%;
    font-size: 25px;
    justify-content: center;
}

#Log .log-diary-header .head_btn_left {
    width: 25%;
    justify-content: start;
}

#Log .log-diary-header .head_btn_right {
    width: 25%;
    justify-content: end;
}

#Log .log-diary-header button {
    font-family: "Nanum Pen Script", cursive;
}


/*DiaryList*/

#Log .LogList .menu_wrapper {
    margin-top: 20px;
    margin-bottom: 30px;
    /* div 요소들이 한줄로 정렬 */
    display: flex;
    /* 왼쪽 div,  오른쪽 div 간격이 완전히 벌어지게 됨 */
    justify-content: space-between;
}

#Log .LogList .menu_wrapper .left_col {
    width: 50%;
}

#Log .LogList .menu_wrapper .left_col select {
    width: 40%;
    height: 40px;
    margin: 0 10px;
}

#Log .LogList .menu_wrapper .left_col select:focus {
    outline-color: #a1a7e8;
}

#Log .LogList .ControlMenu {
    width: 50%;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ececec;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    font-family: "Nanum pen Script";
    font-size: 18px;
}

#Log .LogList .menu_wrapper .right_col {
    /* display flex 아래 모든 넓이를 자신이 차지하게 됨 => right-col 남은 영역 전체의 넓이를 갖게 됨 */
    flex-grow: 1;
}

#Log .LogList .menu_wrapper .right_col button {
    width: 90%;
}

#Log .LogList .log-list-total {
    font-size: 20px;
    letter-spacing: 1.6px;
    padding-bottom: 15px;
}

#Log .LogList .log-list-total em {
    color: #9097e6;
}


/* LogItem */

#Log .LogItem {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
}

#Log .LogItem .emotion_img_wrapper {
    cursor: pointer;
    min-width: 120px;
    height: 80px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#Log .LogItem .info_wrapper {
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}

#Log .LogItem .diary_date {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}

#Log .LogItem .diary_content_preview {
    font-size: 18px;
}

#Log .LogItem .btn_wrapper {
    min-width: 70px;
}