/* Profile 영역 */

#Profile {
    width: 100vw;
    height: 100vh;
}

#Profile .profile-content {
    width: 100%;
    height: calc(100% - 21px);
    border-radius: 12px;
    box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.8);
    overflow: hidden;
    display: flex;
}

#Profile .profile-content .profile-content-left {
    width: 140px;
    height: 100%;
    background-color: #dadada;
    border-right: 2px solid #E6E7E8;
}

#Profile .profile-content .profile-content-left .profile-content-left-btn-box {
    width: 100%;
    display: flex;
    padding: 15px;
}

#Profile .profile-content .profile-content-left .profile-content-left-btn-box .btn {
    width: 12px;
    height: 12px;
    background-color: #ED695D;
    border: 1px solid #D04C3E;
    border-radius: 50%;
    margin-right: 5px;
}

#Profile .profile-content .profile-content-left .profile-content-left-btn-box .profile-yellow {
    background-color: #F5BF4F;
    border-color: #D7A344;
}

#Profile .profile-content .profile-content-left .profile-content-left-btn-box .profile-green {
    background-color: #62C656;
    border-color: #5EBE4E;
}

#Profile .profile-content .profile-content-left .profile-content-left-title {
    display: block;
    width: 120px;
    height: 30px;
    line-height: 30px;
    background-color: #BABBBC;
    border-radius: 8px;
    margin: 10px auto;
    box-sizing: border-box;
    padding-left: 10px;
    color: #383939;
    font-size: 15px;
}

#Profile .profile-content .profile-content-right {
    width: calc(100% - 140.5px);
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}

#Profile .profile-content .profile-content-right .profile-right-tap {
    width: 180px;
    height: 100%;
    border-right: 2px solid #D9DADB;
}

#Profile .profile-content .profile-content-right .profile-right-tap-header {
    width: 160px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #EBEBEB;
    margin: 40px auto;
    box-shadow: 1px 2px 6px -2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    color: #C7C7C7;
    padding-left: 10px;
    font-size: 14px;
}

#Profile .profile-content .profile-content-right .profile-right-tap .profile-right-tap-list {
    width: 160px;
    display: block;
    font-size: 15px;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin: 15px auto;
    padding: 10px 0;
    padding-left: 15px;
    box-sizing: border-box;
    text-align: left;
}

#Profile .profile-content .profile-content-right .profile-right-tap-content {
    width: calc(100% - 180px);
    height: 100%;
    overflow-y: auto;
}

#Profile .profile-tab {
    box-sizing: border-box;
    padding: 30px;
}

#Profile .profile-tab .profile-tab-top {
    width: 200px;
    display: flex;
    align-items: baseline;
    margin-left: 50px;
}

#Profile .profile-tab .profile-tab-top img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 1px solid #BDBDBD;
    margin-right: 20px;
}

#Profile .profile-tab .profile-tab-top .profile-heading {
    font-size: 24px;
    color: #666;
}

#Profile .profile-tab .profile-tab-mid {
    width: 500px;
    margin: 40px auto;
}

#Profile .profile-tab .profile-tab-mid i {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #BDBDBD;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    margin-right: 50px;
    box-shadow: 1px 1px 4px 0px rgba(189, 189, 189, 0.8);
}

#Profile .profile-tab .profile-tab-mid i:last-child svg {
    margin-bottom: 4px;
}

#Profile .profile-tab .profile-tab-mid i.on {
    background-color: #4079F6;
}

#Profile .profile-tab .profile-tab-bottom {
    margin-bottom: 20px;
}

#Profile .profile-tab .profile-tab-bottom .profile-tab-des {
    width: 95%;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #BDBDBD;
    margin: 0 auto;
    text-align: left;
}

#Profile .profile-tab .profile-tab-bottom .profile-tab-des span {
    width: 200px;
    color: #BDBDBD;
    padding: 0 30px;
}

#Profile .profile-tab .profile-tab-bottom .profile-tab-des p {
    width: calc(100% - 240px);
    color: #666;
    line-height: 1.4;
}