/* Hello 영역 */

#Hello {
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 16px;
    position: absolute;
    top: 20px;
    right: 72%;
    display: none;
    padding: 20px;
    text-align: center;
}

#Hello.open {
    opacity: 1;
    animation: openHello 0.5s ease-in-out;
}

#Hello.close {
    opacity: 0;
    animation: closeHello 0.5s ease-in-out;
}

#Hello>button>svg {
    margin-right: 10px;
}

#Hello>span {
    display: block;
    font-size: 20px;
    line-height: 1.6;
}

#Hello>em {
    display: block;
    font-size: 24px;
    color: #C0C3E6;
    margin: 20px 0;
}

#Hello>p {
    font-size: 22px;
    line-height: 1.6;
}

#Hello>p>strong {
    color: #E25B4F;
}

@keyframes openHello {
    from {
        opacity: 0;
        right: 0;
    }
    to {
        opacity: 1;
        right: 72%;
    }
}